.product-tabs-wrapper :is(.absolute) {
  position: absolute
}

.product-tabs-wrapper :is(.top-\[-20px\]) {
  top: -20px
}

.product-tabs-wrapper :is(.order-1) {
  order: 1
}

.product-tabs-wrapper :is(.order-2) {
  order: 2
}

.product-tabs-wrapper :is(.mr-8) {
  margin-right: 2rem
}

.product-tabs-wrapper :is(.mt-6) {
  margin-top: 1.5rem
}

.product-tabs-wrapper :is(.block) {
  display: block
}

.product-tabs-wrapper :is(.flex) {
  display: flex
}

.product-tabs-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.product-tabs-wrapper :is(.appearance-none) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none
}

.product-tabs-wrapper :is(.flex-col) {
  flex-direction: column
}

.product-tabs-wrapper :is(.rounded-lg) {
  border-radius: 0.5rem
}

.product-tabs-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.product-tabs-wrapper :is(.border-b-8) {
  border-bottom-width: 8px
}

.product-tabs-wrapper :is(.border-\[\#ff7223\]) {
  --tw-border-opacity: 1;
  border-color: rgb(255 114 35 / var(--tw-border-opacity))
}

.product-tabs-wrapper :is(.border-current) {
  border-color: currentColor
}

.product-tabs-wrapper :is(.bg-\[\#378189\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(55 129 137 / var(--tw-bg-opacity))
}

.product-tabs-wrapper :is(.pb-4) {
  padding-bottom: 1rem
}

.product-tabs-wrapper :is(.text-left) {
  text-align: left
}

.product-tabs-wrapper :is(.text-center) {
  text-align: center
}

.product-tabs-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.product-tabs-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.product-tabs-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.product-tabs-wrapper :is(.font-semibold) {
  font-weight: 600
}

.product-tabs-wrapper :is(.text-\[\#65797C\]) {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}

.product-tabs-wrapper :is(.text-\[white\]) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.product-tabs-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.product-tabs-wrapper :is(.outline-none) {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.product-tabs-wrapper :is(.hover\:border:hover) {
  border-width: 1px
}

@media (min-width: 640px) {
  .product-tabs-wrapper :is(.sm\:border-b) {
    border-bottom-width: 1px
  }

  .product-tabs-wrapper :is(.sm\:border-none) {
    border-style: none
  }
}

@media (min-width: 768px) {
  .product-tabs-wrapper :is(.md\:absolute) {
    position: absolute
  }

  .product-tabs-wrapper :is(.md\:relative) {
    position: relative
  }

  .product-tabs-wrapper :is(.md\:right-0) {
    right: 0px
  }

  .product-tabs-wrapper :is(.md\:top-\[-15px\]) {
    top: -15px
  }

  .product-tabs-wrapper :is(.md\:mt-0) {
    margin-top: 0px
  }

  .product-tabs-wrapper :is(.md\:block) {
    display: block
  }

  .product-tabs-wrapper :is(.md\:flex-col) {
    flex-direction: column
  }

  .product-tabs-wrapper :is(.md\:border-b) {
    border-bottom-width: 1px
  }

  .product-tabs-wrapper :is(.md\:border-none) {
    border-style: none
  }

  .product-tabs-wrapper :is(.md\:py-1) {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
  }

  .product-tabs-wrapper :is(.md\:py-1\.5) {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem
  }
}

@media (min-width: 1024px) {
  .product-tabs-wrapper :is(.lg\:mx-8) {
    margin-left: 2rem;
    margin-right: 2rem
  }
}