.breadcrumb-wrapper :is(.relative) {
  position: relative
}

.breadcrumb-wrapper :is(.z-10) {
  z-index: 10
}

.breadcrumb-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.breadcrumb-wrapper :is(.leading-5) {
  line-height: 1.25rem
}

.breadcrumb-wrapper :is(.underline) {
  text-decoration-line: underline
}

.breadcrumb-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}
